<% provide(:title, "Habits") %>
<h1>Habits for Today</h1>
<h3>Physical Wellness</h3>
<p><%= @phy_res %></p>

<h3>Mental Wellness</h3>
<p><%= @men_res %></p>

<h3>Social Wellness</h3>
<p><%= @soc_res %></p>

<h3>Intellectual Wellness</h3>
<p><%= @int_res %></p>

  <%= link_to "Generate Again", '/habits', class: "btn btn-lg btn-primary" %>

</body>
