<% provide(:title, "Home") %>

<div class="jumbotron">
  <div class="center">
    <h1 >Healthy Habits</h1>
    <h2>
      Sign up to get personalized healthy habits to work on every day.
    </h2>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
      <% end %>
    </div>
  </div>

  <div class="center">

    <%= link_to "Sign Up", '/habits', class: "btn btn-lg btn-primary" %>
    <p id="login">Already have an account? <%= link_to "Log in", login_path %></p>
    <hr class="align-self-end" style="background: white;">
    <h2>
      Don't want to create an account? Click the button below to generate healthy habits
      without one.
    </h2>
    <%= link_to "Generate Habits", '/habits', class: "btn btn-lg btn-primary" %>
  </div>
</div>

<!-- <%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
-->
